@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&family=Montserrat&family=Playfair+Display+SC:wght@900&family=Roboto:wght@100;300;400;500;700&display=swap');

body{
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;}

@tailwind base;
@tailwind components;
@tailwind utilities;
